<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="UTF-8"> 
		<link rel="stylesheet" type="text/css" href="/static/css/sidebar.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/pure-min.css" />
		<script type="text/javascript">
			window.onload = init;

			function init()	{
				var rid;
				rid=GetQueryString("rid");
				
				document.getElementById("rid").value = rid;
			}
			
			function GetQueryString(name) {
			   var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)","i");
			   var r = window.location.search.substr(1).match(reg);
			   if (r!=null) return unescape(r[2]); return null;
			}
		</script>
	</head>
	<body>
		<!--content begin-->
		<div class="header"  align="center">
			<h1>诊断治疗</h1>
			<hr>
		</div>

		<form class="pure-form pure-form-aligned" id="reg" action="/case/dat" method="post"  style="padding: 0px 20px">
			<div class="pure-g">
				<div class="pure-u-1" align="center">		
					<fieldset>
						<div class="header"  align="center">
							<h3>诊断与治法</h3>
						</div>
						
						<div class="pure-control-group">
							<label for="StrA1">中医疾病</label>
							<textarea name="StrA1" class="pure-input-1-2" rows="5" placeholder="中医疾病" >{{.StrA1}}</textarea>
						</div>
						<div class="pure-control-group">
							<label for="StrA2">西医疾病</label>
							<textarea name="StrA2" class="pure-input-1-2" rows="5" placeholder="西医疾病" >{{.StrA2}}</textarea>
						</div>
						<div class="pure-control-group">
							<label for="StrA3">中医证候</label>
							<textarea name="StrA3" class="pure-input-1-2" rows="5" placeholder="中医证候" >{{.StrA3}}</textarea>
						</div>
						<div class="pure-control-group">
							<label for="StrA4">治则执法</label>
							<textarea name="StrA4" class="pure-input-1-2" rows="5" placeholder="治则执法" >{{.StrA4}}</textarea>
						</div>
						
						<div class="header"  align="center">
							<hr>
							<h3>中医处方</h3>
						</div>
						
						<div class="header"  align="center">
							<hr>
							<h3>穴位处方</h3>
						</div>

						<div class="pure-control-group">
							<label for="StrC1">穴位</label>
							<textarea name="StrC1" class="pure-input-1-2" rows="5" placeholder="穴位" >{{.StrC1}}</textarea>
						</div>
						
						<div class="header"  align="center">
							<hr>
							<h3>其它治疗</h3>
						</div>
						
						<div class="pure-control-group">
							<label for="StrD1">中成药</label>
							<textarea name="StrD1" class="pure-input-1-2" rows="5" placeholder="中成药" >{{.StrD1}}</textarea>
						</div>
						<div class="pure-control-group">
							<label for="StrD2">西成药</label>
							<textarea name="StrD2" class="pure-input-1-2" rows="5" placeholder="西成药" >{{.StrD2}}</textarea>
						</div>
						<div class="pure-control-group">
							<label for="StrD3">其它</label>
							<textarea name="StrD3" class="pure-input-1-2" rows="5" placeholder="其它" >{{.StrD3}}</textarea>
						</div>
						<input type="hidden" id="rid" name="rid"></input>

						<br>
						<div class="pure-controls"  align="center">
						<input type="submit" class="pure-button pure-button-primary pure-input-1-2" id="save" value="保存"></input>

						</div>
					</fieldset>
				</div>
			</div>
		</form>
		<!--content end-->
	

		<div class="nav">
			<div class="home">
			  <span><img src="/favicon.ico"></img></span>
			</div>
			<div class="sidebar">
				<ul>
					<li onclick="window.location.href='/welcome'">Home</li>
					<li class="devider"></li>
					<li onclick="window.location.href='/patient/search'">查找病人</li>
					<li onclick="window.location.href='/patient/new'">新增病人</li>
					<li class="devider"></li>
					<li onclick="window.location.href='/case/list'">查找病历</li>
					<li class="devider"></li>
					<li onclick="window.open('http://www.processon.com/myteams/539577890cf21885c69f20b3#diagrams')">设计图样</li>
					<li onclick="window.open('http://git.oschina.net/hyg/Case/issues')">质量反馈</li>
				</ul>
			</div>
		</div>
	</body>
</html>